unidecode==1.3.4
cloudpickle==2.0.0
scikit-learn==1.0.2
streamlit==1.8.1
imblearn==0.0
spacy==2.2.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
seaborn==0.11.0
